body{
  font-weight: bold;
  margin:0;
  box-sizing: border-box;
  background-color: rgb(238, 237, 235);
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
  height: 100vh;
}

h1{
  margin-top:5px;
  margin-bottom:5px;
  
}
header img{
  height: 45px;

}
header{
  font-family: "Anta", sans-serif;
  font-weight: 800;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

header span{
  font-size: 25px;
}

#section1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 2.5rem;
  
}

h2{
  font-size: 50px;
  margin-top:0;
  margin-bottom: 10px;
}
#add-btn{
   background-color: darkgreen;
}
#reset-btn{
  background-color: darkred;
}
#minus-btn{
  background-color: darkgoldenrod;
}

button{
  border: 0;
  border-radius: .25rem;
  color: white;
  font-weight: 200px;
  padding: .5rem;
  width: 10rem;
  margin-top: 20px;
}
